@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: $main-width;
  min-height: 240px;
  margin: 0 auto;
  padding: 10px 0;
  background: $gradient-main;
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  // all rows
  &__keys {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
  }

  // buttons
  &__key {
    display: flex;
    justify-content: center;
    align-items: center;
    @include roboto($fw: 500, $color: $dark-s, $ls: normal);
    min-height: 40px;
    background: $gradienr-btn;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 1px rgb(80 98 130 / 60%), inset 0px -1px 1px 0px rgb(176 184 198);
    min-width: 40px;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: box-shadow 10ms ease-in-out;

    &[data-key = 'ShiftLeft'],
    &[data-key = 'ShiftRight'],
    &[data-key = 'Enter'],
    &[data-key = 'Backspace'],
    &[data-key = 'CapsLock'] {
      width: 12%;
    }

    &[data-key = 'Space'] {
      width: 47%;
    }

    &:hover{
        background: $gradient-btn-active;
        box-shadow: 0px 1px 2px 1px rgb(87 104 101 / 60%), inset 0px -1px 1px 0px rgb(134 186 161);
    }

    &:active {
      background: linear-gradient(135deg, rgb(185, 251, 192) 0%, rgb(236, 255, 238) 100%);
      box-shadow: 0px 0px 0px 1px rgb(87 104 101 / 30%), inset 0px 0px 2px 0px rgb(134 186 161);
    }
  }
}

.active {
  background: linear-gradient(135deg, rgb(185, 251, 192) 0%, rgb(236, 255, 238) 100%);
  box-shadow: 0px 0px 0px 1px rgb(87 104 101 / 30%), inset 0px 0px 2px 0px rgb(134 186 161);
}